@font-face {
    font-family: 'Lancelot';
    src: url("/media/Lancelot-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Megrim';
    src: url("/media/Megrim-Regular.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    height: -webkit-fill-available;
}

.background {
    top: 0;
    left: -20px;
    position: fixed;

    width: 105%;

    background: linear-gradient(rgba(0, 2, 6, 0.9), rgba(3, 12, 41, 1));
    background-size: cover;
    background-repeat: no-repeat;
}

.background img {
    height: auto;
    width: 105%;
    opacity: 0.2;
}

.container {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: auto;

    width: 80%;
    height: auto;

    max-height: 80%;

    padding: 20px;

    border: 2px solid #fff;
    border-radius: 40px;

    background-color: rgba(0, 0, 0, 0.25);
}

.container nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: inline;
}

nav {
    padding: 20px;
}

nav .title {
    color: white;
    text-decoration: none;
    font-size: calc(35px + 2.5vw);

    font-family: 'Lancelot';
}

li {
    float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  font-family: "Megrim";

  font-size: 30px;
}

.nav-link.selected {
    position: relative;
}

img.top, img.bottom {
    filter: invert(100%) sepia(31%) saturate(2%) hue-rotate(173deg) brightness(108%) contrast(101%);
    position: absolute;
    width: 100%;
    height: auto;

    top: 0; left: 0;
}

img.bottom {
    transform: rotate(180deg);
    top: unset;
}

@media only screen and (max-width: 1350px) {
    .background img {
        height: 100%;
        width: auto;
    }
}