<div class="footer-2">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p>Copyrights © 2022&nbsp;All Rights Reserved by Gazespace Inc.</p>
				<div class="clear"></div>
			</div>
			<div class="col-md-6">
				<p class="pull-right text-right"><a class="iubenda-nostyle iubenda-embed" href="#" title="Privacy Policy">Privacy Policy</a> / 
					<a href="#" title="Terms of Use">Terms of Use</a> / <a href="#" title="Cookies">Cookies</a><br>
					<a href="#" title="Facebook" target="_blank"><span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-facebook fa-stack-1x fa-inverse"></i> </span> </a> <a href="#" title="LinkedIn" target="_blank"> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i> </span> </a> <a class="social-icon si-small si-light si-twitter" href="#" target="_blank" title="Twitter"> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-twitter fa-stack-1x fa-inverse"></i> </span> </a> <a class="social-icon si-small si-light si-youtube" href="#" target="_blank" title="YouTube"> <span class="fa-stack fa-lg"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-youtube fa-stack-1x fa-inverse"></i> </span> </a>
				</p>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
    
</body>
</html>