<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="./scripts/anime.min.js"></script>
    <link rel="stylesheet" href="./css/main.css">
    <title><%= title %></title>
</head>
<body>
    <div class="background">
        <img src="./media/Space.png" alt="bg">
    </div>
    <div class="container">
        <nav>
            <a href="/" class="title">GAZESPACE</a>

            <ul>
                <li><a href="/review" class="nav-link">Review</a></li>
                <li><a href="/contact" class="nav-link">Contact</a></li>
                <li><a href="/shop" class="nav-link">Shop</a></li>
                <li><a href="/" class="nav-link selected">About</a></li>
            </ul>
        </nav>