<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="./scripts/anime.min.js"></script>
    <link rel="stylesheet" href="./css/main.css">
    <title><%= title %></title>
</head>
<body>
    <div class="background">
        <img src="./media/Space.png" alt="bg">
    </div>
    <div class="container">
        <nav>
            <a href="/" class="title">GAZESPACE</a>

            <ul>
                <% if (selection == "3") { %>
                    <link rel="stylesheet" href="./css/review.css">
                    <li><a href="/review"   class="nav-link selected">Review</a></li>
                <% } else { %>
                    <li><a href="/review"   class="nav-link">Review</a></li>
                <% } %>


                <% if (selection == "2") { %>
                    <link rel="stylesheet" href="./css/contact.css">
                    <li><a href="/contact"  class="nav-link selected">Contact</a></li>
                <% } else { %>
                    <li><a href="/contact"  class="nav-link">Contact</a></li>
                <% } %>

                <% if (selection == "1") { %>
                    <link rel="stylesheet" href="./css/shop.css">
                    <li><a href="/shop" class="nav-link selected">Shop</a></li>
                <% } else { %>
                    <li><a href="/shop" class="nav-link">Shop</a></li>
                <% } %>

                <% if (selection == "0") { %>
                    <link rel="stylesheet" href="./css/home.css">
                    <li><a href="/" class="nav-link selected">About</a></li>
                <% } else { %>
                    <li><a href="/" class="nav-link">About</a></li>
                <% } %>
            </ul>
        </nav>