<%- include('includes/header.ejs', {title: "Gazespace", selection: "0"}) %>

<div class="content">
    <h1>What am I looking at?</h1>
    <p>
        I sell digital prints of my art on this website,
        I have so many spectacular paintings listed here
        that you can check out by visiting the shop tab
        I accept various payment methods and if you had
        any inquiries or feedback you can always reach me
        via the contact tab. Also, don't forget to drop a Review 
        whether you're a buyer or just an observer, tell me 
        what you think about this.
    </p>
</div>

<%- include('includes/footer.ejs') %>